<a href="https://colab.research.google.com/github/MichaelSousa01/Data.py/blob/main/etl_pesquisaNacional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
  from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
PesquisaNacional= pd.read_csv('/content/drive/MyDrive/Dados - curso de estatística IFCE/aula01/Pesquisa Nacional por Amostra de Domicílios.csv')

In [5]:
PesquisaNacional.shape

(76840, 7)

In [6]:
PesquisaNacional

       UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0      11     0     23    8              12    800  1.603808
1      11     1     23    2              12   1150  1.739790
2      11     1     35    8              15    880  1.760444
3      11     0     46    2               6   3500  1.783158
4      11     1     47    8               9    150  1.690631
...    ..   ...    ...  ...             ...    ...       ...
76835  53     1     46    2              11    812  1.687030
76836  53     0     30    4               7   1500  1.792934
76837  53     0     32    8              12   1300  1.830587
76838  53     0     57    8               4   1500  1.726344
76839  53     0     38    8               4    900  1.658305

[76840 rows x 7 columns]

In [ ]:
PesquisaNacional.head(5)

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

In [ ]:
PesquisaNacional.info()
# O ".info()" é um método que pega um dataframe do pandas no caso a PesquisaNacional e nos exibe as informações resumidadas desse dataframe!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76840 entries, 0 to 76839
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   UF              76840 non-null  int64
 1   Sexo            76840 non-null  int64
 2   Idade           76840 non-null  int64
 3   Cor             76840 non-null  int64
 4   Anos de Estudo  76840 non-null  int64
 5   Renda           76840 non-null  int64
 6   Altura          76840 non-null  float64
dtypes: float64(1), int64(6)
memory usage: 4.1 MB

In [ ]:
#Identifica quais linhas estão com valores nulos
PesquisaNacional[PesquisaNacional.isnull().any(axis=1)]

Empty DataFrame
Columns: [UF, Sexo, Idade, Cor, Anos de Estudo, Renda, Altura]
Index: []

In [ ]:
PesquisaNacional['Cor']

0        8
1        2
2        8
3        2
4        8
        ..
76835    2
76836    4
76837    8
76838    8
76839    8
Name: Cor, Length: 76840, dtype: int64

In [8]:
PesquisaNacional['UF'].unique()
#aqui ele vai me retornar todas as CATEGORIAS, ou seja todos o valores unicos, dessa coluna.
#Obs:Na coluna UF temos os códigos dos estados, que é um ID definido pelo IBGE para representar cada estado.
#Na próxima célula, vou codificar casa um dos UFs

array(['Rondônia', 'Acre', 'Amazonas', 'Roraima', 'Pará', 'Amapá',
       'Tocantins', 'Maranhão', 'Piauí', 'Ceará', 'Rio Grande do Norte',
       'Paraíba', 'Pernambuco', 'Alagoas', 'Sergipe', 'Bahia',
       'Minas Gerais', 'Espírito Santo', 'Rio de Janeiro', 'São Paulo',
       'Paraná', 'Santa Catarina', 'Rio Grande do Sul',
       'Mato Grosso do Sul', 'Mato Grosso', 'Goiás', 'Distrito Federal'],
      dtype=object)

In [7]:
uf = {
    11: 'Rondônia',
    12: 'Acre',
    13: 'Amazonas',
    14: 'Roraima',
    15: 'Pará',
    16: 'Amapá',
    17: 'Tocantins',
    21: 'Maranhão',
    22: 'Piauí',
    23: 'Ceará',
    24: 'Rio Grande do Norte',
    25: 'Paraíba',
    26: 'Pernambuco',
    27: 'Alagoas',
    28: 'Sergipe',
    29: 'Bahia',
    31: 'Minas Gerais',
    32: 'Espírito Santo',
    33: 'Rio de Janeiro',
    35: 'São Paulo',
    41: 'Paraná',
    42: 'Santa Catarina',
    43: 'Rio Grande do Sul',
    50: 'Mato Grosso do Sul',
    51: 'Mato Grosso',
    52: 'Goiás',
    53: 'Distrito Federal'
}

# Correção: passa o dicionário diretamente (sem chaves ao redor)
PesquisaNacional['UF'].replace(uf, inplace=True)


#Obs:Estou criando aqui um código que sobreescreve os dados que estão no UF, por meio de um dicionário de dados.

<ipython-input-7-0144845bd3e2>:32: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  PesquisaNacional['UF'].replace(uf, inplace=True)

In [ ]:
PesquisaNacional

                     UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0              Rondônia     0     23    8              12    800  1.603808
1              Rondônia     1     23    2              12   1150  1.739790
2              Rondônia     1     35    8              15    880  1.760444
3              Rondônia     0     46    2               6   3500  1.783158
4              Rondônia     1     47    8               9    150  1.690631
...                 ...   ...    ...  ...             ...    ...       ...
76835  Distrito Federal     1     46    2              11    812  1.687030
76836  Distrito Federal     0     30    4               7   1500  1.792934
76837  Distrito Federal     0     32    8              12   1300  1.830587
76838  Distrito Federal     0     57    8               4   1500  1.726344
76839  Distrito Federal     0     38    8               4    900  1.658305

[76840 rows x 7 columns]

In [9]:
PesquisaNacional['Sexo'].replace({0:'Masculino',1:'Feminino'}, inplace=True)
#Se forem poucas variáveis, você pode colocar logo dentro do replace.

<ipython-input-9-3754648aa107>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  PesquisaNacional['Sexo'].replace({0:'Masculino',1:'Feminino'}, inplace=True)

In [10]:
PesquisaNacional

,UF,Sexo,Idade,Cor,Anos de Estudo,Renda,Altura
0,Rondônia,Masculino,23,8,12,800,1.603808
1,Rondônia,Feminino,23,2,12,1150,1.739790
2,Rondônia,Feminino,35,8,15,880,1.760444
3,Rondônia,Masculino,46,2,6,3500,1.783158
4,Rondônia,Feminino,47,8,9,150,1.690631
...,...,...,...,...,...,...,...
76835,Distrito Federal,Feminino,46,2,11,812,1.687030
76836,Distrito Federal,Masculino,30,4,7,1500,1.792934
76837,Distrito Federal,Masculino,32,8,12,1300,1.830587
76838,Distrito Federal,Masculino,57,8,4,1500,1.726344
76839,Distrito Federal,Masculino,38,8,4,900,1.658305

In [11]:
PesquisaNacional['Cor'].replace({0: 'Indígena',2: 'Branca', 4: 'Preta',6: 'Amarela',8: 'Parda',9: 'Sem declaração'}, inplace=True)

<ipython-input-11-921aa90b8f7e>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  PesquisaNacional['Cor'].replace({0: 'Indígena',2: 'Branca', 4: 'Preta',6: 'Amarela',8: 'Parda',9: 'Sem declaração'}, inplace=True)

In [12]:
PesquisaNacional

,UF,Sexo,Idade,Cor,Anos de Estudo,Renda,Altura
0,Rondônia,Masculino,23,Parda,12,800,1.603808
1,Rondônia,Feminino,23,Branca,12,1150,1.739790
2,Rondônia,Feminino,35,Parda,15,880,1.760444
3,Rondônia,Masculino,46,Branca,6,3500,1.783158
4,Rondônia,Feminino,47,Parda,9,150,1.690631
...,...,...,...,...,...,...,...
76835,Distrito Federal,Feminino,46,Branca,11,812,1.687030
76836,Distrito Federal,Masculino,30,Preta,7,1500,1.792934
76837,Distrito Federal,Masculino,32,Parda,12,1300,1.830587
76838,Distrito Federal,Masculino,57,Parda,4,1500,1.726344
76839,Distrito Federal,Masculino,38,Parda,4,900,1.658305

In [13]:
Anos_de_Estudo = {
    1: 'Sem instrução e menos de 1 ano',
    2: '1 ano',
    3: '2 anos',
    4: '3 anos',
    5: '4 anos',
    6: '5 anos',
    7: '6 anos',
    8: '7 anos',
    9: '8 anos',
    10: '9 anos',
    11: '10 anos',
    12: '11 anos',
    13: '12 anos',
    14: '13 anos',
    15: '14 anos',
    16: '15 anos ou mais',
    17: 'Não determinados'
    }

PesquisaNacional['Anos de Estudo'].replace(Anos_de_Estudo,inplace=True)

<ipython-input-13-f5cf32b581b6>:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  PesquisaNacional['Anos de Estudo'].replace(Anos_de_Estudo,inplace=True)

In [14]:
PesquisaNacional

,UF,Sexo,Idade,Cor,Anos de Estudo,Renda,Altura
0,Rondônia,Masculino,23,Parda,11 anos,800,1.603808
1,Rondônia,Feminino,23,Branca,11 anos,1150,1.739790
2,Rondônia,Feminino,35,Parda,14 anos,880,1.760444
3,Rondônia,Masculino,46,Branca,5 anos,3500,1.783158
4,Rondônia,Feminino,47,Parda,8 anos,150,1.690631
...,...,...,...,...,...,...,...
76835,Distrito Federal,Feminino,46,Branca,10 anos,812,1.687030
76836,Distrito Federal,Masculino,30,Preta,6 anos,1500,1.792934
76837,Distrito Federal,Masculino,32,Parda,11 anos,1300,1.830587
76838,Distrito Federal,Masculino,57,Parda,3 anos,1500,1.726344
76839,Distrito Federal,Masculino,38,Parda,3 anos,900,1.658305

In [19]:

PesquisaNacional['Renda'].mean()

np.float64(2000.3831988547631)

In [21]:
PesquisaNacional['Altura'].median()

1.6993247325

In [25]:
PesquisaNacional['Altura'].mode()

0    1.568128
1    1.671225
2    1.681659
3    1.692977
4    1.708163
5    1.708370
6    1.753842
7    1.779073
8    1.796462
Name: Altura, dtype: float64

In [34]:
PesquisaNacional['Altura'].round(1).mode()
#como a função .mode() me retornou vários valores, por terem muitos valores com a mesma frequencia. Então, eu usei a função round() para arredondar em até 3 casas decimais, para reduzir
#a precisão.

0    1.7
Name: Altura, dtype: float64

In [29]:
PesquisaNacional['Altura'].round(1).value_counts()
# me mostra quantas vezes cada um dos valores da coluna altura aparecem.

Altura
1.7    36162
1.6    18188
1.8    17912
1.5     2265
1.9     2171
1.4       75
2.0       66
1.3        1
Name: count, dtype: int64

In [35]:
# Calcula a média da coluna 'Renda' para cada grupo na coluna 'Sexo'.
PesquisaNacional['Renda'].groupby(PesquisaNacional['Sexo']).mean()

Sexo
Feminino     1566.847393
Masculino    2192.441596
Name: Renda, dtype: float64

In [36]:
PesquisaNacional['Renda'].groupby(PesquisaNacional['Anos de Estudo']).mean()

Anos de Estudo
1 ano                              806.524496
10 anos                           1495.901322
11 anos                           1841.671287
12 anos                           2185.769063
13 anos                           2758.774142
14 anos                           3099.840058
15 anos ou mais                   5242.443353
2 anos                             842.560209
3 anos                             980.044275
4 anos                            1150.439293
5 anos                            1183.575683
6 anos                            1284.082618
7 anos                            1289.166233
8 anos                            1437.744862
9 anos                            1315.685870
Não determinados                  1071.717277
Sem instrução e menos de 1 ano     732.994187
Name: Renda, dtype: float64

In [37]:
#Calculando a média por grupo
PesquisaNacional['Renda'].groupby(PesquisaNacional['Cor']).mean()

Cor
Amarela     4182.920455
Branca      2679.019331
Indígena    1472.887955
Parda       1513.596103
Preta       1442.294840
Name: Renda, dtype: float64

In [38]:
PesquisaNacional['Renda'].groupby([PesquisaNacional['Cor'], PesquisaNacional['Sexo']]).mean()

Cor       Sexo
Amarela   Feminino     3027.341880
          Masculino    4758.251064
Branca    Feminino     2109.866750
          Masculino    2925.744435
Indígena  Feminino     2464.386139
          Masculino    1081.710938
Parda     Feminino     1176.758516
          Masculino    1659.577425
Preta     Feminino     1134.596400
          Masculino    1603.861687
Name: Renda, dtype: float64

In [39]:
PesquisaNacional.groupby(['Cor', 'Sexo'])['Renda'].mean()
# Agrupa os dados do DataFrame "PesquisaNacional" pelas colunas "Cor" e "Sexo".
# Para cada combinação de cor e sexo, calcula a média da coluna "Renda".

Cor       Sexo
Amarela   Feminino     3027.341880
          Masculino    4758.251064
Branca    Feminino     2109.866750
          Masculino    2925.744435
Indígena  Feminino     2464.386139
          Masculino    1081.710938
Parda     Feminino     1176.758516
          Masculino    1659.577425
Preta     Feminino     1134.596400
          Masculino    1603.861687
Name: Renda, dtype: float64

In [ ]:
# Calcula a média da coluna 'Renda' para cada grupo na coluna 'UF' (Unidade Federativa).
PesquisaNacional.groupby(['UF'])['Renda'].mean()

In [40]:
# Agrupa os dados do DataFrame "PesquisaNacional" pela coluna "UF" (Unidade Federativa - Estado).
# Para cada estado (UF), calcula a média da coluna "Renda".
# Em seguida, ordena os estados pelo valor médio da renda, do menor para o maior.
PesquisaNacional.groupby(['UF'])['Renda'].mean().sort_values()

UF
Maranhão               1019.432009
Piauí                  1074.550784
Sergipe                1109.111111
Alagoas                1144.552602
Ceará                  1255.403692
Paraíba                1293.370487
Rio Grande do Norte    1344.721480
Pará                   1399.076871
Bahia                  1429.645094
Amazonas               1445.130100
Acre                   1506.091782
Pernambuco             1527.079319
Tocantins              1771.094946
Roraima                1783.588889
Rondônia               1789.761223
Amapá                  1861.353516
Goiás                  1994.580794
Espírito Santo         2026.383852
Minas Gerais           2056.432084
Mato Grosso            2130.652778
Mato Grosso do Sul     2262.604167
Rio Grande do Sul      2315.158336
Santa Catarina         2470.854945
Paraná                 2493.870753
Rio de Janeiro         2496.403168
São Paulo              2638.104986
Distrito Federal       4241.954722
Name: Renda, dtype: float64

In [41]:
PesquisaNacional.groupby('Cor')['Renda'].median()

Cor
Amarela     2450.0
Branca      1500.0
Indígena     788.0
Parda       1000.0
Preta       1000.0
Name: Renda, dtype: float64

In [42]:
# Definir uma função personalizada para calcular a moda
def calcular_moda(group):
    if not group.empty:
      moda=group.mode()
      if not group.empty:
       return moda.iloc[0]
    return None


# def calcular_moda(group):
#    return group.mode().iloc[0] if not group.empty else None

# Aplicar a função de cálculo da moda após agrupar os dados por 'grupo' e aplicar a função personalizada
moda_por_grupo=PesquisaNacional.groupby('UF')['Renda'].apply(calcular_moda)

print(moda_por_grupo)

UF
Acre                    788
Alagoas                 788
Amapá                  1200
Amazonas                788
Bahia                   788
Ceará                   788
Distrito Federal       2000
Espírito Santo          788
Goiás                   788
Maranhão                  0
Mato Grosso            1500
Mato Grosso do Sul     1200
Minas Gerais            788
Paraná                 2000
Paraíba                 788
Pará                    788
Pernambuco              788
Piauí                   788
Rio Grande do Norte     788
Rio Grande do Sul      1500
Rio de Janeiro         1200
Rondônia                788
Roraima                 788
Santa Catarina         2000
Sergipe                 788
São Paulo              2000
Tocantins               788
Name: Renda, dtype: int64